<%- config[:constant_array].each_with_index do |c, i| -%>
<%= "  " * i %>module <%= c %>
<%- end -%>
<%= "  " * config[:constant_array].size %>VERSION = File.read(File.expand_path("<%= "../" * (config[:constant_array].size + 2) + "VERSION" %>", __FILE__)).strip.freeze
<%- (config[:constant_array].size-1).downto(0) do |i| -%>
<%= "  " * i %>end
<%- end -%>
