<%- config[:constant_array].each_with_index do |c,i| -%>
<%= '  '*i %>module <%= c %>
<%- end -%>
<%= '  '*config[:constant_array].size %>VERSION = "0.0.0"
<%- config[:constant_array].size.downto(0) do |i| -%>
<%= '  '*i %>end
<%- end -%>