source 'https://rubygems.org'

# Include rake in Gemfile so that `bundle exec rake` doesn't raise an error
gem 'rake', :group => :test

# Specify your gem's dependencies in <%=config[:name]%>.gemspec
gemspec
