before_script:
  - sudo apt-get install groff -y
  - rake spec:deps

env:
  - RGV=v1.3.6
  - RGV=v1.3.7
  - RGV=v1.4.2
  - RGV=v1.5.3
  - RGV=v1.6.2
  - RGV=v1.7.2
  - RGV=v1.8.10

language: ruby

matrix:
  exclude:
    - rvm: 1.9.2
      env: RGV=v1.3.6
    - rvm: 1.9.2
      env: RGV=v1.3.7
    - rvm: 1.9.2
      env: RGV=v1.4.2
    - rvm: 1.9.3
      env: RGV=v1.3.6
    - rvm: 1.9.3
      env: RGV=v1.3.7
    - rvm: 1.9.3
      env: RGV=v1.4.2

notifications:
  email:
    - travis-ci@andrearko.com
    - hone02@gmail.com
    - sferik@gmail.com

rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3

script: rake spec:travis
