trigger:
  branches:
    include:
      - master
      - staging
      - trying
      - /.+-dev$/
      - /.+-stable$/

jobs:
- job: Windows
  pool:
    vmImage: 'vs2017-win2016'
  variables:
    rgv: v3.0.6
  steps:
  - template: .azure-pipelines/steps.yml
  timeoutInMinutes: 0
