/* line 24 */
html {
  width: 100%;
  background-color: #c6e7ec;
  padding-top: 10px;
  font-family: Helvetica, sans-serif;
}

/* line 31 */
img {
  border: 0;
}

/* line 34 */
.intro {
  width: 100%;
}

/* line 37 */
#body {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 100%;
}

/* line 41 */
#contents {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
  width: 725px;
}

/* line 45 */
#intro {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px 10px;
  color: #043042;
  font-size: 18px;
  line-height: 24px;
}
/* line 52 */
#intro strong {
  color: #041f2a;
}

/* line 55 */
#header {
  margin-bottom: 20px;
}
/* line 57 */
#header h1 {
  font-size: 22px;
  text-align: right;
  padding-right: 43px;
  color: #346b8c;
}

/* line 63 */
#footer {
  /* Mozilla (FireFox, Camino) */
  -moz-box-sizing: border-box;
  /* Webkit (Safari, Chrome) */
  -webkit-box-sizing: border-box;
  /* IE (8) */
  -ms-box-sizing: border-box;
  /* CSS3 */
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 25px;
}
/* line 72 */
#footer img:first-child {
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: blue 0 0 5px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: blue 0 0 5px;
  /* CSS3 */
  box-shadow: blue 0 0 5px;
}
/* line 75 */
#footer img:last-child {
  margin-top: -20px;
  margin-right: -20px;
}
/* line 79 */
#footer .spacer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
/* line 82 */
#footer img {
  display: block;
}
/* line 85 */
#footer #navigation {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
}
/* line 88 */
#footer #navigation p {
  font-family: Helvetica, sans-serif;
  color: #336666;
  font-size: 16px;
  margin: 0;
}
/* line 93 */
#footer #navigation p a {
  text-decoration: none;
  color: #0e3f54;
}

/* line 97 */
.contents {
  width: 725px;
}

/* line 100 */
h2 {
  font-size: 20px;
  padding: 5px;
  margin-top: 24px;
  color: #0e3f54;
  border-bottom: 3px solid #0e3f54;
  width: 100%;
  /* Mozilla (FireFox, Camino) */
  -moz-box-sizing: border-box;
  /* Webkit (Safari, Chrome) */
  -webkit-box-sizing: border-box;
  /* IE (8) */
  -ms-box-sizing: border-box;
  /* CSS3 */
  box-sizing: border-box;
}

/* line 109 */
.bullet {
  width: 100%;
  padding: 8px 15px;
  /* Mozilla (FireFox, Camino) */
  -moz-box-sizing: border-box;
  /* Webkit (Safari, Chrome) */
  -webkit-box-sizing: border-box;
  /* IE (8) */
  -ms-box-sizing: border-box;
  /* CSS3 */
  box-sizing: border-box;
}
/* line 114 */
.bullet .description {
  width: 100%;
  margin-right: 16px;
  color: #003333;
  line-height: 24px;
  margin-bottom: 8px;
}
/* line 121 */
.bullet a {
  padding-top: 8px;
  padding-bottom: 5px;
  text-decoration: none;
  display: block;
  color: white;
  margin: 10px 0 0 450px;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6ecf36), color-stop(100%, #4e9326));
  background-image: -moz-linear-gradient(top, #6ecf36 0%, #4e9326 100%);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 133 */
.bullet a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4e9326), color-stop(100%, #35641a));
  background-image: -moz-linear-gradient(top, #4e9326 0%, #35641a 100%);
}
/* line 137 */
.bullet .how {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  line-height: 24px;
}
/* line 141 */
.bullet .how .notes {
  margin-top: 15px;
  padding-right: 4px;
  padding-left: 4px;
  color: #003333;
}
/* line 146 */
.bullet .how .notes+ a {
  margin-top: 10px;
}
/* line 149 */
.bullet pre {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin: 0;
}

/* line 154 */
.bullet:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 159 */
.bullet:not(:nth-of-type(1)) {
  padding-top: 15px;
}

/* line 162 */
.bullet {
  padding-bottom: 25px;
}

/* line 167 */
#credits p {
  text-align: center;
  font-size: 8pt;
  color: #668493;
}
/* line 171 */
#credits p a {
  color: #2c596b;
}

/* line 175 */
#github img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
