/* line 28 */
#standalone {
  line-height: 150%;
}
/* line 31 */
#standalone code {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 34 */
#standalone h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 125%;
}

/* line 39 */
html {
  width: 100%;
  background-color: #c6e7ec;
  padding-top: 10px;
  font-family: Helvetica, sans-serif;
}

/* line 46 */
img {
  border: 0;
}

/* line 49 */
code {
  font-family: monospace;
  font-size: 120%;
  padding: 0 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 56 */
.intro {
  width: 100%;
}

/* line 59 */
#body {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 100%;
}

/* line 63 */
#contents {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
  width: 725px;
}

/* line 67 */
#intro {
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px;
  color: #043042;
  font-size: 18px;
  line-height: 24px;
}
/* line 74 */
#intro strong {
  color: #041f2a;
}

/* line 77 */
#header {
  margin-bottom: 20px;
}
/* line 79 */
#header h1 {
  font-size: 22px;
  text-align: right;
  padding-right: 43px;
  color: #346b8c;
}

/* line 85 */
#footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 25px;
}
/* line 94 */
#footer img:first-child {
  -moz-box-shadow: blue 0 0 5px;
  -webkit-box-shadow: blue 0 0 5px;
  -o-box-shadow: blue 0 0 5px;
  box-shadow: blue 0 0 5px;
}
/* line 97 */
#footer img:last-child {
  margin-top: -20px;
  margin-right: -20px;
}
/* line 101 */
#footer .spacer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
/* line 104 */
#footer img {
  display: block;
}
/* line 107 */
#footer #navigation {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
}
/* line 110 */
#footer #navigation p {
  font-family: Helvetica, sans-serif;
  color: #336666;
  font-size: 16px;
  margin: 0;
}
/* line 115 */
#footer #navigation p a {
  text-decoration: none;
  color: #0e3f54;
}

/* line 118 */
.contents {
  width: 725px;
}

/* line 121 */
h2 {
  font-size: 20px;
  padding: 5px;
  margin-top: 24px;
  color: #0e3f54;
  border-bottom: 3px solid #0e3f54;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 130 */
ul.bullet {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
}
/* line 134 */
ul.bullet a {
  margin-left: 0;
  margin-right: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
/* line 138 */
ul.bullet a:last-child {
  margin-right: 0;
}

/* line 141 */
.bullet {
  width: 100%;
  padding: 8px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
}
/* line 147 */
.bullet .description {
  width: 100%;
  margin-right: 16px;
  color: #003333;
  line-height: 24px;
  margin-bottom: 8px;
}
/* line 154 */
.bullet a {
  padding-top: 8px;
  padding-bottom: 5px;
  text-decoration: none;
  display: block;
  color: white;
  margin: 10px 0 0 450px;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6ecf36), color-stop(100%, #4e9326));
  background-image: -moz-linear-gradient(top, #6ecf36 0%, #4e9326 100%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 166 */
.bullet a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4e9326), color-stop(100%, #35641a));
  background-image: -moz-linear-gradient(top, #4e9326 0%, #35641a 100%);
}
/* line 170 */
.bullet .how {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  line-height: 24px;
}
/* line 174 */
.bullet .notes {
  font-size: 90%;
  line-height: 150%;
  margin-top: 15px;
  margin-bottom: 8px;
  padding-right: 4px;
  padding-left: 4px;
  color: #006666;
}
/* line 182 */
.bullet .notes + a {
  margin-top: 10px;
}
/* line 184 */
.bullet .notes + pre {
  margin-top: 10px;
}
/* line 186 */
.bullet .notes + .description {
  margin-top: 20px;
}
/* line 189 */
.bullet pre {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin: 0;
}
/* line 193 */
.bullet code {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 196 */
pre {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 199 */
.bullet:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 204 */
.bullet:not(:nth-of-type(1)) {
  padding-top: 15px;
}

/* line 207 */
.bullet {
  padding-bottom: 25px;
}

/* line 212 */
#credits p {
  text-align: center;
  font-size: 8pt;
  color: #668493;
}
/* line 216 */
#credits p a {
  color: #2c596b;
}

/* line 220 */
#github img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/* line 226 */
#versions {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.4em;
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 233 */
#versions a {
  text-decoration: none;
  color: #0e3f54;
  padding: 0.1em 0.25em;
}
/* line 236 */
#versions a.current {
  font-weight: bold;
}
