/* line 25 */
html {
  width: 100%;
  background-color: #eeffff;
  font-family: Helvetica, sans-serif;
}

/* line 30 */
img {
  border: 0;
}

/* line 33 */
#body {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 100%;
}

/* line 37 */
#contents {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
}

/* line 41 */
#header h1 {
  text-align: right;
  color: #346B8C;
}

/* line 45 */
#footer {
  padding: 10px 20px;
  background-color: #bcc;
  width: 100%;
  margin-top: 30px;
  /* Mozilla (FireFox, Camino) */
  -moz-box-sizing: border-box;
  /* Webkit (Safari, Chrome) */
  -webkit-box-sizing: border-box;
  /* IE (8) */
  -ms-box-sizing: border-box;
  /* CSS3 */
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
}
/* line 54 */
#footer img:first-child {
  /* Webkit (Safari, Chrome) */
  -webkit-box-shadow: blue 0 0 5px;
  /* Gecko (Firefox, Camino) */
  -moz-box-shadow: blue 0 0 5px;
  /* CSS3 */
  box-shadow: blue 0 0 5px;
}
/* line 57 */
#footer .spacer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
/* line 60 */
#footer img {
  display: block;
}
/* line 63 */
#footer p {
  font-family: Helvetica, sans-serif;
  color: #366;
  font-size: 24px;
}
/* line 67 */
#footer p a {
  text-decoration: none;
  color: #699;
}

/* line 71 */
.contents {
  width: 850px;
}

/* line 74 */
h2 {
  padding: 5px;
  margin-top: 30px;
  text-shadow: #aaaaaa 1px 1px 1px;
  color: #999;
  border-bottom: 3px solid #999;
  width: 100%;
}

/* line 82 */
.bullet {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: start;
  -moz-box-align: start;
  padding: 10px;
}
/* line 87 */
.bullet .description {
  width: 300px;
  margin-right: 20px;
  color: #033;
  line-height: 20px;
  text-shadow: #aaaaaa 1px 1px 1px;
}
/* line 94 */
.bullet .description a {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 30px;
  text-decoration: none;
  display: block;
  color: #060;
  text-align: center;
}
/* line 103 */
.bullet .how {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
/* line 106 */
.bullet .how .notes {
  margin-top: 10px;
  color: #799;
}
/* line 110 */
.bullet pre {
  margin: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

/* line 115 */
.bullet:not(:nth-of-type(1)) {
  border-top: 1px solid #367F73;
}

/* line 118 */
.bullet:not(:nth-last-of-type(1)) {
  border-bottom: 1px solid #35658B;
}
