/* line 24 */
html {
  width: 100%;
  background-color: #eeffff;
  font-family: Helvetica, sans-serif;
}

/* line 29 */
img {
  border: 0;
}

/* line 32 */
#body {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 100%;
}

/* line 36 */
#contents {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 850px;
}

/* line 41 */
#header h1 {
  text-align: right;
  color: #346B8C;
}

/* line 45 */
.contents {
  width: 850px;
}

/* line 48 */
h2 {
  padding: 5px;
  margin-top: 30px;
  text-shadow: #aaaaaa 1px 1px 1px;
  color: #999;
  border-bottom: 3px solid #999;
  width: 100%;
}

/* line 56 */
.bullet {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  padding: 10px;
}
/* line 61 */
.bullet .description {
  width: 300px;
  margin-right: 20px;
  color: #033;
  text-shadow: #aaaaaa 1px 1px 1px;
}
/* line 67 */
.bullet .description a {
  padding-top: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  display: block;
  color: #060;
  text-align: center;
}
/* line 75 */
.bullet pre {
  margin: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

/* line 80 */
.bullet:not(:nth-of-type(1)) {
  border-top: 1px solid #367F73;
}

/* line 83 */
.bullet:not(:nth-last-of-type(1)) {
  border-bottom: 1px solid #35658B;
}
