pre.sunburst {
  padding: 10px;
  font-size: 13px;
  font-family: Monaco, monospace;
}

pre.sunburst .DiffInserted {
   background-color: #253B22;
   color: #F8F8F8;
}
pre.sunburst .DiffHeader {
   background-color: #0E2231;
   color: #F8F8F8;
   font-style: italic;
}
pre.sunburst .CssPropertyValue {
   color: #F9EE98;
}
pre.sunburst .CCCPreprocessorDirective {
   color: #AFC4DB;
}
pre.sunburst .Constant {
   color: #3387CC;
}
pre.sunburst .DiffChanged {
   background-color: #4A410D;
   color: #F8F8F8;
}
pre.sunburst .Support {
   color: #9B859D;
}
pre.sunburst .MarkupList {
   color: #E1D4B9;
}
pre.sunburst .CssConstructorArgument {
   color: #8F9D6A;
}
pre.sunburst .Storage {
   color: #99CF50;
}
pre.sunburst .line-numbers {
   background-color: #DDF0FF;
   color: #000000;
}
pre.sunburst .CssClass {
   color: #9B703F;
}
pre.sunburst .StringConstant {
   color: #DDF2A4;
}
pre.sunburst .MarkupSeparator {
   background-color: #242424;
   color: #60A633;
}
pre.sunburst .MarkupUnderline {
   text-decoration: underline;
   color: #E18964;
}
pre.sunburst .CssAtRule {
   color: #8693A5;
}
pre.sunburst .MetaTagInline {
   color: #E0C589;
}
pre.sunburst .JEntityNameType {
   text-decoration: underline;
}
pre.sunburst .LogEntryError {
   background-color: #751012;
}
pre.sunburst .MarkupHeading {
   background-color: #632D04;
   color: #FEDCC5;
}
pre.sunburst .CssTagName {
   color: #CDA869;
}
pre.sunburst .SupportConstant {
   color: #CF6A4C;
}
pre.sunburst .MarkupQuote {
   background-color: #ECD091;
   color: #E1D4B9;
   font-style: italic;
}
pre.sunburst .DiffDeleted {
   background-color: #420E09;
   color: #F8F8F8;
}
pre.sunburst .CCCPreprocessorLine {
   color: #8996A8;
}
pre.sunburst .StringRegexpSpecial {
   color: #CF7D34;
}
pre.sunburst .EmbeddedSourceBright {
   background-color: #ABADB4;
}
pre.sunburst .InvalidIllegal {
   background-color: #150B15;
   color: #FD5FF1;
}
pre.sunburst .MarkupRaw {
   background-color: #ABADB4;
   color: #578BB3;
}
pre.sunburst .SupportFunction {
   color: #DAD085;
}
pre.sunburst .CssAdditionalConstants {
   color: #DD7B3B;
}
pre.sunburst .MetaTagAll {
   color: #89BDFF;
}
pre.sunburst .StringRegexp {
   color: #E9C062;
}
pre.sunburst .StringEmbeddedSource {
   color: #DAEFA3;
}
pre.sunburst .EntityInheritedClass {
   color: #9B5C2E;
   font-style: italic;
}
pre.sunburst .MarkupComment {
   color: #F67B37;
   font-style: italic;
}
pre.sunburst .MarkupBold {
   font-weight: bold;
   color: #E9C062;
}
pre.sunburst .CssId {
   color: #8B98AB;
}
pre.sunburst .CssPseudoClass {
   color: #8F9D6A;
}
pre.sunburst .JCast {
   color: #676767;
   font-style: italic;
}
pre.sunburst .StringVariable {
   color: #8A9A95;
}
pre.sunburst .String {
   color: #65B042;
}
pre.sunburst .Keyword {
   color: #E28964;
}
pre.sunburst {
   background-color: #000000;
   color: #F8F8F8;
}
pre.sunburst .LogEntry {
   background-color: #C7C7C7;
}
pre.sunburst .MarkupItalic {
   color: #E9C062;
   font-style: italic;
}
pre.sunburst .CssPropertyName {
   color: #C5AF75;
}
pre.sunburst .Namespaces {
   color: #E18964;
}
pre.sunburst .DoctypeXmlProcessing {
   color: #494949;
}
pre.sunburst .InvalidDeprecated {
   color: #FD5FF1;
   font-style: italic;
}
pre.sunburst .Variable {
   color: #3E87E3;
}
pre.sunburst .Entity {
   color: #89BDFF;
}
pre.sunburst .Comment {
   color: #AEAEAE;
   font-style: italic;
}
